[submodule "pack/my-plugins/lightline.vim"]
	path = pack/my-plugins/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/my-plugins/start/lightline.vim"]
	path = pack/my-plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/my-plugins/start/vim-colors-solarized"]
	path = pack/my-plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "pack/my-plugins/start/ctrlp.vim"]
	path = pack/my-plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/my-plugins/start/.vim/pack/my-plugins/start/vzf.vim"]
	path = pack/my-plugins/start/.vim/pack/my-plugins/start/vzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/my-plugins/start/fzf.vim"]
	path = pack/my-plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/my-plugins/start/lightline-bufferline"]
	path = pack/my-plugins/start/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline
